:root {
    --bg-color: #ffffff;
    --pre-black: #363e45;
    --gray-text: rgba(54, 62, 69, 0.64);
    --gray-back: rgba(152, 163, 174, 0.12);
    --button-back: #2F3337;
    --max-content-width: 1140px;
    --info-container-height: 400px;
    --h2-font-size: 48px;
    --h2-font-size-modile: 36px;
    --h3-font-size: 20px;
    --sm-text-font-size: 14px;
    --text-font-size: 16px;
    --font-weight: 400;
    --item-border: 1px solid rgba(152, 163, 174, 0.48);
    --border-radius: 8px;
}

body {
    font-family: "Arial";
    display: flex;
    flex: 1;
    flex-flow: column;
    align-items: center;
    margin: 0;
    min-width: 0;
    width: 100%;
}

.Content {
    width: 100%;
    max-width: var(--max-content-width);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 120px;
}


.menu {
    display: flex;
    gap: 8px;
}

.menu-button {
    padding: 16px 20px;
    border: var(--item-border);
    border-radius: var(--border-radius);
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.menu-label {
    font-size: var(--sm-text-font-size);
    font-weight: var(--font-weight);
    color: var(--pre-black);
    text-align: center;
}

.image-container {
    overflow: hidden;
    border-radius: var(--border-radius);
}

.section-header {
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight);
    color: var(--pre-black);
    line-height: 48px;
    margin: 0;
}

.label-header {
    font-size: var(--text-font-size);
    font-weight: var(--font-weight);
    line-height: 24px;
    color: var(--pre-black);
}

.mini-header {
    font-size: var(--h3-font-size);
    color: var(--pre-black);
}

.info-text {
    font-size: var(--text-font-size);
    font-weight: var(--font-weight);
    color: var(--gray-text);
    line-height: 24px;
    margin: 0;
    padding-bottom: 16px;
}

.title-location {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .title {
        font-size: var(--h3-font-size);
        color: var(--pre-black);
        padding-bottom: 0;
    }
}


/* header */
#header {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}


/* about */
#about {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .section-header {
        line-height: 58px;
        white-space: pre-line;
        width: 100%;
    }

    .image-container {
        width: 100%;
        height: var(--info-container-height);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


/* education */
#education {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;

    .info {
        display: flex;
        gap: 32px;
        width: 100%;

        .column {
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 100%;
        }
    }
}

.education-info-block {
    display: flex;
    flex-direction: column;

    .period {
        color: var(--pre-black);
        padding: 0;
    }
}


/* experience */
#experience {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.experience-info {
    display: flex;
    gap: 32px;

    .text {
        display: inline-block;
        flex-direction: column;
        width: 100%;
        gap: 16px;

        .period {
            color: var(--pre-black);
        }
    }

    .image-container {
        width: 100%;
        height: var(--info-container-height);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


/* skills */
#skills {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;

    .skill-bars {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        height: auto;

        .column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
        }
    }

    .add-skill-form {
        display: flex;
        flex-direction: column;
        background-color: var(--gray-back);
        border: none;
        border-radius: var(--border-radius);
        height: 200px;

        .form-header {
            padding: 16px 0 16px 32px;
        }
    }
}

.bar-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: auto;
    padding: 16px 0;

    .bar-top {
        display: flex;
        justify-content: space-between;
    }

    .bar-back {
        height: 8px;
        background-color: var(--gray-back);
        border-radius: 4px;

        .bar-fore {
            height: 8px;
            background-color: var(--pre-black);
            border-radius: 4px;
        }

        #react           { width: 90%; }
        #angular         { width: 70%; }
        #html-css        { width: 100%; }
        #javascript      { width: 20%; }
        #python          { width: 25%; }
        #soft-skill      { width: 80%; }
        #motion-graphics { width: 60%; }
        #ux              { width: 20%; }
        #ui              { width: 50%; }
        #three-d         { width: 25%; }
    }
}

.form-container {
    display: flex;
    justify-content: space-between;
    padding: 0 32px 16px 32px;
    gap: 16px;

    .form-field {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 8px;

        .form-input {
            border: var(--item-border);
            border-radius: var(--border-radius);
            height: 48px;
        }
    }

    .add-button {
        width: 65px;
        height: 48px;
        border: none;
        border-radius: var(--border-radius);
        padding: 16px 20px;
        margin-top: 32px;

        background-color: var(--button-back);
        color: white;

        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}


/* contacts */
#contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;

    .contacts-row {
        display: flex;
        gap: 32px;
        height: var(--info-container-height);

        .contact-container {
            background-color: var(--gray-back);
            border: none;
            border-radius: var(--border-radius);
            flex: 1;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .contact-icon {
                width: 40px;
                height: 40px;
                padding: 32px 0 0 32px;
            }

            .title-location {
                padding: 0 0 16px 32px;
            }
        }
    }
}


/* footer */
#footer {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;

    .social-media {
        display: flex;
        gap: 32px;
    }

    .copyright {
        font-size: var(--sm-text-font-size);
        font-weight: var(--font-weight);
        color: var(--gray-text);
        margin: 0;
    }
}

.desktop-hide {
    display: none;
}

@media (max-width: 1920px) {

    .Content {
        width: 358px;
        padding: 0 16px;
        gap: 60px
    }

    .mobile-hide {
        display: none;
    }

    .section-header {
        font-size: var(--h2-font-size-modile);
        line-height: 36px;
    }

    .desktop-hide {
        display: block;
    }

    #header {
        padding: 16px 0;

        img {
            padding: 2px 0 0 0;
        }
    }

    #about {
        gap: 32px;

        .section-header {
            line-height: 44px;
        }

        .image-container {
            height: 358px;
        }
    }

    #education {
        gap: 32px;

        .info {
            flex-direction: column;
            gap: 32px;
        }
    }

    #experience {
        gap: 32px;

        .section-header {
            word-spacing: 100vw;
        }

        .menu {
            justify-content: space-between;
        }

        .menu .menu-button {
            flex: 1;
        }

        .experience-info {
            flex-direction: column-reverse;
            gap: 24px;
        }

        .experience-info .text .period {
            padding: 0;
        }

        .image-container {
            height: 358px;
        }
    }

    #skills {

        gap: 32px;

        .skill-bars {
            flex-direction: column;
            gap: 24px;
            height: auto;
        }

        .skill-bars .column {
            gap: 24px;
        }

    }

    .bar-item {
        padding: 0;
    }

    .add-skill-form {
        flex: 1;
        height: 344px;

        .form-header {
            height: 24px;
            margin: 0 0 16px -18px;
        }
    }

    .form-container {
        flex-direction: column;
        gap: 24px;
        height: auto;
        padding: 0 16px 16px;

        .add-button {
            margin: 0;
            width: 100%;
        }
    }

    #contacts {
        height: auto;
        gap: 32px;

        .section-header {
            padding-top: 1px;
        }

        .contacts-row {
            flex-direction: column;
            gap: 16px;
            height: auto;
        }

        .contacts-row .contact-container {
            height: 160px;
        }

        .contacts-row .contact-container .contact-icon {
            width: 24px;
            height: 24px;
            padding: 16px;
        }

        .contacts-row .contact-container .title-location {
            padding: 32px 16px 0;
        }
    }

    #footer {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 24px;
        padding: 0;

        .social-media {
            padding-top: 1px;
        }

        .copyright {
            padding-bottom: 24px;
        }
    }

}
